@value dark-font-color from '../../assets/vars.module.css';

.statistics {
  width: 300px;
  background-color: #fff;
  margin: 0 auto 20px;
}

.title {
  font-size: 16px;
  text-align: center;
  color: dark-font-color;
  text-transform: uppercase;
  padding: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 0 8px;
}

.label {
  font-weight: 300;
  color: #fff;
  font-size: 12px;
  margin-bottom: 6px;
}

.percentage {
  color: #fff;
  font-size: 16px;
}
